:root{
    --blue:dodgerblue;
    --yellow:gold;
}

*{
    /* outline:1px solid powderblue; */
    font-family: sans-serif;
}
.text-center{
    text-align: center;
    background-color:var(--yellow);
    color: var(--blue);
    padding: 20px;
    box-shadow: 5px 5px 5px black;
}
.main{
    min-height: 80vh;
    background-color:var(--yellow);
    border-bottom: 5px solid black;
    display: flex;
}
.form{
    width: 40%;
    font-weight: bold;
    padding: 20px;
    color: rgb(1, 122, 252);
    
}
.list{
    /* background-color: black; */
    width: 70%;
    color: var(--blue);
    padding: 20px;
    
}
.form-control{
    width: 100%;
    padding: 16px;
    margin-top: 10px;
    outline: none;
    border: none;
    background: none;
    color: var(--blue);
    border-bottom: 2px solid var(--blue);
    font-size: 20px;
}

.mybtn{
    padding: 20px;
    border-radius: 30px;
    margin-top: 20px;
    cursor: pointer;
    border: 2px solid var(--blue);
    color:var(--yellow);
    font-weight: bold;
    box-shadow: 5px 5px 5px black;
    background: var(--blue);
    outline: none;
    
}


td{
    padding: 10px;
    border-radius: 17px;
}
.table-item{
    background-color: dodgerblue;
    
    color: var(--yellow);
}

table{
    box-shadow: 5px 5px 5px 5px rgb(94, 92, 92);
}

thead{
    background: dodgerblue;
}
th{
    color:var(--yellow);
    padding: 10px;
    width: 200px;
}

.item:hover{
    background-color:var(--yellow);
    color: var(--blue);
}